body {
	background: rgba(0, 0, 0, 0) url("../img/bg.jpg") no-repeat scroll 0 0 / cover;
}
[class*="container"], .static-content, .bottom-link {
	background: none !important;
	color: #ffeb3e;
}
.inside {
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 10px #fff, 0 0 10px #fff;
}
.note {
	color: #000;
	font-size: 24px;
	font-family: "stolzlmedium",sans-serif;
}
.menu-icon .stripe {
	border-color: #ffeb3e !important;
	background-color: #ffeb3e !important;
}
.bottom-link {
	border-top: none !important;
}
.bottom-link::before {
	background: #ffeb3e none repeat scroll 0 0;
}
.hoverStripe::before {
	background: #3e3e3e none repeat scroll 0 0;
}
.additionalInfo {
	bottom: 25px;
	padding-right: 8%;
}
@media (max-width: 768px) {
	body {
		background-position-x: -45px;
	}
}
@media(max-width: 512px) {
	.additionalInfo {
		bottom: 60px;
	}
}
@media (min-width: 668px) {
	.mainTitle:not(.animated), .note:not(.animated){
        opacity: 1;
    }
    .inside:not(.animated), .bottom-link:not(.animated){
        opacity: 0;
    }
	#mainId, #sideBarId {
		filter: blur(25px);
	}
}